[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = [
  "curl -fsSL https://get.pnpm.io/install.sh | sh -",
  "export PNPM_HOME=\"/root/.local/share/pnpm\"",
  "export PATH=\"$PNPM_HOME:$PATH\"",
  "pnpm install --no-frozen-lockfile",
  "pnpm run codegen",
  "node scripts/update-config.js"
]

[start]
cmd = "NODE_OPTIONS='--max-old-space-size=2048' pnpm run start"

