[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm install -g pnpm@latest && export PATH=\"/usr/local/bin:$PATH\" && pnpm install --no-frozen-lockfile && pnpm run codegen && node scripts/update-config.js"
]

[start]
cmd = "NODE_OPTIONS='--max-old-space-size=2048' pnpm run start"

