[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = [
  "corepack enable",
  "corepack prepare pnpm@latest --activate",
  "pnpm install",
  "pnpm run codegen",
  "node scripts/update-config.js"
]

[start]
cmd = "NODE_OPTIONS='--max-old-space-size=2048' pnpm run start"

